body {
    background-color: antiquewhite;
}

p {
    font-size: 40px;
    color: rgb(221, 61, 61);
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 2px solid rgb(248, 159, 86);
    }

code {
    font-size: 20px;
    margin-left: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }